.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  overflow-y:hidden;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
.theme-container {
  position: absolute;
  right: 29px;
  top: 19px;
  font-size: 18px;
}
.theme-container span{
  padding: 5px;
  vertical-align: top;
}
.theme-container span.sun-moon{
  cursor: pointer;
}
.Logo {
  position: absolute;
  top: 13px;
  left: 183px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
